@model IEnumerable<Laba1.Models.DepartmentsAndPostsOfWorker>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/styleWorkerIndex.css" />
@if (User.IsInRole("admin") || User.IsInRole("coach") || User.IsInRole("guest"))
{



    <h3 style="text-align:center;">Сотрудники компании</h3>

    <hr style="width:100px; margin: auto;" />

    <p style="text-align:center;">
        <a asp-action="Create">Добавить сотрудника</a>
    </p>
    <div class="searchDescWorkerAllWorkers">
        <a asp-action="IndexAllWorkers" style="text-decoration:none;">
            <div class="DepWorker"><div style="margin-top:5px;">Все сотрудники</div></div>
        </a>
        <a asp-action="GetCandidates" style="text-decoration:none;">
            <div class="DepWorker"><div style="margin-top:5px;">Кандидаты</div></div>
        </a>
        <a asp-action="GetWorkersOfCompany" style="text-decoration:none;">
            <div class="DepWorker"><div style="margin-top:5px;">Сотрудники компании</div></div>
        </a>
        <a asp-action="GetDismissWorkers" style="text-decoration:none;">
            <div class="DepWorker"><div style="margin-top:5px;">Уволенные сотрудники</div></div>
        </a>


    </div>

    <br>
    //@Html.DisplayFor(modelItem => item.Name)
    <div class="middle">

           @foreach (var department in Model.GroupBy(g => g.Department))
                {
                    <div class="departmentWorker">@department.Key.Name</div>
                      <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Worker.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Worker.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Worker.Middlename)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Worker.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Worker.Phone)
                    </th>
                        <th>
                           Должность
                        </th>
                    <th></th>
                </tr>
            </thead>
                    @foreach (var item in department.ToArray())
                    {
      
            <tbody>
             
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Worker.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Worker.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Worker.Middlename)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Worker.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Worker.Phone)
                        </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Post.Title)
                            </td>
                        @if (User.IsInRole("admin"))
                        {
                            <td>

                                <a asp-action="Edit" asp-route-id="@item.Worker.Id">Изменить</a> |
                                <a asp-action="Intelligence" asp-route-id="@item.Worker.Id">Подробнее</a> |
                                <a asp-action="Dismiss" asp-route-id="@item.Worker.Id">Уволить</a>

                            </td>
                        }
                        else
                        {

                        }
                    </tr>
              
            </tbody>

                }
        </table>
            
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Авторизируйтесь, <br> чтобы просмотреть данные</h1>

    </div>
}
