@model IEnumerable<Laba1.Models.DepartmentsAndPostsOfWorker>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/styleWorkerIndex.css" />
@if (User.IsInRole("admin") || User.IsInRole("coach") || User.IsInRole("guest") || User.IsInRole("multiAdmin"))
{



    <h3 style="text-align:center;">Сотрудники компании</h3>
    <h5 style="text-align:center;">Общее количество: @ViewBag.allWorkers</h5>

    <hr style="width:100px; margin: auto;" />

    <p style="text-align:center;">
        <a asp-action="Create">Добавить сотрудника</a>
    </p>
    <div class="searchDescWorkerAllWorkers">
        <a asp-action="IndexAllWorkers" style="text-decoration:none;">
            <div class="DepWorker"><div style="margin-top:5px;">Все сотрудники</div></div>
        </a>
        <a asp-action="GetCandidates" style="text-decoration:none;">
            <div class="DepWorker"><div style="margin-top:5px;">Кандидаты</div></div>
        </a>
        <a asp-action="GetWorkersOfCompany" style="text-decoration:none;">
            <div class="DepWorker1"><div style="margin-top:5px;">Сотрудники компании</div></div>
        </a>
        <a asp-action="GetDismissWorkers" style="text-decoration:none;">
            <div class="DepWorker"><div style="margin-top:5px;">Уволенные сотрудники</div></div>
        </a>


    </div>

    <br>
    //@Html.DisplayFor(modelItem => item.Name)
    <div class="middle">
        <table class="table">
            <thead>
                <tr>
                    <th>
                       Фамилия
                    </th>
                    <th>
                        Имя
                    </th>
                    <th>
                        Отчество
                    </th>
                    <th>
                        Пол
                    </th>
                    <th>
                       Телефон
                    </th>
                    <th>
                        Отделы
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach(var workers in ViewBag.Workers)
        {
                    <tr>
                        <td>
                            @workers.Surname
                        </td>
                        <td>
                            @workers.Name
                        </td>
                        <td>
                            @workers.Middlename
                        </td>
                        <td>
                            @workers.Gender
                        </td>
                        <td>
                            @workers.Phone
                        </td>
                        <td>
                            @foreach(var department in ViewBag.Department)
                            {
                                
                                @if(workers.Id == department.WorkerId)
                                {
                                    <a style="margin-top:5px;" class="btn btn-primary" asp-controller="Departments" asp-action="Details" asp-route-id="@department.DepartmentId">@department.Department.Name : @department.Post.Title</a>
                                }
                                
                            }
                        </td>
                        @if (User.IsInRole("admin") || User.IsInRole("multiAdmin"))
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@workers.Id">Изменить</a> |
                                <a asp-action="Intelligence" asp-route-id="@workers.Id">Подробнее</a> |
                                <a asp-action="Dismiss" asp-route-id="@workers.Id">Уволить</a>

                            </td>
                        }
                        else
                        {

                        }
                    </tr>
        }
            </tbody>
        </table>

      
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Авторизируйтесь, <br> чтобы просмотреть данные</h1>

    </div>
}
