@model IEnumerable<Laba1.Models.DepartmentsAndPostsOfWorker>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/styleWorkerIndex.css"/>
@if (User.IsInRole("admin") || User.IsInRole("coach") || User.IsInRole("guest"))
{



    <h3 style="text-align:center;">Наш персонал</h3>

    <hr style="width:100px; margin: auto;" />

    <p style="text-align:center;">
        <a  asp-action="Create">Добавить сотрудника</a>
    </p>
    //@Html.DisplayFor(modelItem => item.Name)
    <div class="middle">
    @foreach (var item in Model)
    {
           
      <a asp-action="Intelligence" asp-route-id="@item.WorkerId" style="text-decoration:none; color:black;">
        <div class="boxWorker">

            <div class="photoWorker">
                        <input type="hidden" name="Photo" value="@item.Worker.Photo" />
                        @if (ViewBag.Photodata != null)
                        {
                            <img class="photo" width="150" src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.Photodata))">
                        }
            </div>
                <div class="nameWorker"> @Html.DisplayFor(modelItem => item.Worker.Name) @Html.DisplayFor(modelItem => item.Worker.Surname)</div>
                    <div class="postWorker">@Html.DisplayFor(modelItem => item.Post.Title)</div>
                    <div class="phoneWorker">@Html.DisplayFor(modelItem => item.Worker.Phone)</div>
        </div>
      </a>
    }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Авторизируйтесь, <br> чтобы просмотреть данные</h1>

    </div>
}
