@model Laba1.Models.Worker

@{
    ViewData["Title"] = "Dismiss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Восстановление</h1>

<h3>Вы действительно хотите восстановить сотрудника?</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <div style="margin-left:100px; position:absolute;">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Middlename)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Middlename)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
            </dt>*@
        </dl>
    </div>
    <input type="hidden" name="Photo" value="@Model.Photo" />
    @if (ViewBag.Photodata != null)
    {
        <img class="mt-4 mb-4" width="200"
             src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.Photodata))">
    }

    <form asp-action="Recover">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="Name" value="@Model?.Name" />
        <input type="hidden" name="Surname" value="@Model?.Surname" />
        <input type="hidden" name="Middlename" value="@Model?.Middlename" />
        <input type="hidden" name="Phone" value="@Model?.Phone" />
        <input type="hidden" name="DateOfBirth" value="@Model?.DateOfBirth" />
        <input type="hidden" name="CityHabitation" value="@Model?.CityHabitation" />
        <input type="hidden" name="StreetHabitation" value="@Model?.StreetHabitation" />
        <input type="hidden" name="HouseHabitation" value="@Model?.HouseHabitation" />
        <input type="hidden" name="FamilyStatus" value="@Model?.FamilyStatus" />
        <input type="hidden" name="Children" value="@Model?.Children" />
        <input type="hidden" name="Email" value="@Model?.Email" />
        <input type="hidden" name="SeriesPass" value="@Model?.SeriesPass" />
        <input type="hidden" name="NumberPass" value="@Model?.NumberPass" />
        <input type="hidden" name="IssuedByWhom" value="@Model?.IssuedByWhom" />
        <input type="hidden" name="DivisionCode" value="@Model?.DivisionCode" />
        <input type="hidden" name="NumberSnils" value="@Model?.NumberSnils" />
        <input type="hidden" name="NumberInn" value="@Model?.NumberInn" />
        <input type="hidden" name="Gender" value="@Model?.Gender" />
        <input type="hidden" name="military_title" value="@Model?.military_title" />
        <input type="hidden" name="shelf_life" value="@Model?.shelf_life" />
        <input type="hidden" name="stock_category" value="@Model?.stock_category" />
        <input type="hidden" name="profile" value="@Model?.profile" />
        <input type="hidden" name="vus" value="@Model?.vus" />
        <input type="hidden" name="name_kommis" value="@Model?.name_kommis" />
        <input type="hidden" name="Photo" value="@Model?.Photo" />
        <input type="hidden" name="DescriptionWorker" value="@Model?.DescriptionWorker" />
        <input type="hidden" name="dissmisStatus" value="true" />


        <input type="submit" value="Восстановить" class="btn btn-primary" /> |
        <a asp-action="IndexAllWorkers">Вернуться назад</a>
    </form>
</div>
