@model Laba1.Models.Vacation

@{
    ViewData["Title"] = "DetailsVacations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробнее</h1>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.typeVacation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.typeVacation)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>