@model IEnumerable<Laba1.Models.AdressDepartment>
<link rel="stylesheet" href="~/css/styleAdressDepartmentIndex.css" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("admin") || User.IsInRole("coach") || User.IsInRole("guest"))
{
   

    <h3 style="text-align:center;">Адреса отделов</h3>

    <hr style="width:100px; margin: auto;" />
  @if (User.IsInRole("multiAdmin"))
                {
        <p style="text-align:center;">
    <a asp-action="Create">Добавить адрес</a>
    </p>
}
else
{
    
}
    <div class="middle">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id" class="boxDepLink">
                <div class="boxAdressDepartment">

                    <div class="descriptionAdressDepartment">

                        <div style="display:inline-block; width:200px;">
                            <div class="city">Населенный пункт: <br> @item.City</div>
                          
                        </div>

                        <div style="display:inline-block; width:200px;">
                            <div class="street">Улица: <br> @item.Street</div>
                            
                        </div>


                        <div style="display:inline-block; width:150px;">
                            <div class="house">Дом: <br> @item.House</div>
                            
                        </div>






                        @if (User.IsInRole("multiAdmin"))
                        {
                            <div style="display:inline-block;">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" style="margin-top:-30px">Изменить</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="margin-top:-30px">Удалить</a>
                            </div>
                        }

                    </div>

                </div>
            </a>
        }
    </div>
}
else{
    <div class="text-center">
        <h1 class="display-4">Авторизируйтесь, <br> чтобы просмотреть данные</h1>

    </div>
}