@model IEnumerable<Laba1.Models.Post>
<link rel="stylesheet" href="~/css/styleDepartmentAddWorker.css" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление в: @ViewBag.NameDep</h2>

<hr />

<h2>Должности компании</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Начальная ставка
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item1 in Model)
        {
            <tr>
                <td>
                    @item1.Title
                </td>
                <td>
                    @item1.Salary
                </td>
              
                <td>
                    <form asp-action="AddPost">
                        <div class="form-group">
                            <input type="hidden" name="departmentId" value="@ViewBag.idDep" />
                            <input type="hidden" name="postId" value="@item1.Id" />
                            <input type="submit" value="Выбрать" class="btn btn-primary" />
                           
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

