@model IEnumerable<Laba1.Models.Post>
<link rel="stylesheet" href="~/css/stylePostIndex.css" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("admin") || User.IsInRole("coach") || User.IsInRole("guest") || User.IsInRole("multiAdmin"))
{


    <h3 style="text-align:center;">Должности компании</h3>

    <hr style="width:100px; margin: auto;" />
    @if (User.IsInRole("multiAdmin"))
                {
        <p style="text-align:center;">
            <a asp-action="Create">Добавить должность</a>
        </p>
}
else
{
    
}
    @if (User.IsInRole("admin") || User.IsInRole("coach") || User.IsInRole("multiAdmin"))
    {
        <div class="middle">
            @foreach (var item in Model)
            {
                <a asp-action="Details" asp-route-id="@item.Id" class="boxDepLink">
                    <div class="boxPost">

                        <div class="descriptionPost">

                            <div style="display:inline-block; width:500px;">
                                <div class="namePost"> @item.Title</div>
                                <div class="salaryPost">Базовая ставка: @item.Salary рублей</div>
                            </div>







                            @if (User.IsInRole("multiAdmin"))
                            {
                                <div style="display:inline-block;">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" style="margin-top:-40px">Изменить</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="margin-top:-40px">Удалить</a>
                                </div>
                            }

                        </div>

                    </div>
                </a>
            }
        </div>
    }
    else if (User.IsInRole("guest"))
    {
        <div class="middle">
            @foreach (var item in Model)
            {
               
                    <div class="boxPost">

                        <div class="descriptionPost">

                            <div style="display:inline-block; width:500px;">
                                <div class="namePost"> @item.Title</div>
                                <div class="salaryPost">Базовая ставка: @item.Salary рублей</div>
                            </div>
                        </div>

                    </div>
               
            }
        </div>
    }
}
else{
    <div class="text-center">
        <h1 class="display-4">Авторизируйтесь, <br> чтобы просмотреть данные</h1>

    </div>
}