@model Laba1.Models.Vacation
@{
    ViewData["Title"] = "AddVacation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавление данных об отпусках</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddVacation" asp-route-id="@Model?.Id">
            <input type="hidden" name="WorkerId" value="@ViewBag.WorkerId" />
            <div class="form-group">
                <h4>
                    <label style="width:700px">Сотрудник: @ViewBag.Surname @ViewBag.Name @ViewBag.Middlename</label>
                </h4>

            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dateStart" class="control-label"></label>
                <input asp-for="dateStart" class="form-control" />
                <span asp-validation-for="dateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateEnd" class="control-label"></label>
                <input asp-for="dateEnd" class="form-control" />
                <span asp-validation-for="dateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typeVacation" class="control-label"></label>
                <input asp-for="typeVacation" class="form-control" />
                <span asp-validation-for="typeVacation" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <input type="submit" style="margin-top:30px" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Workers" asp-action="Intelligence" asp-route-id="@ViewBag.id">Вернуться назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
