@model Laba1.Models.Vacation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробнее</h1>

<div>
    <h4>Данные отпусков</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.typeVacation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.typeVacation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worker)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Surname @ViewBag.Name @ViewBag.Middlename
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index" asp-route-id="@ViewBag.WorkerId">Вернуться назад</a>
</div>
